<div class="login-box">
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    {{> flash}}    
    <form method='post'>    
      <div class="form-group has-feedback">
        <input type="email" class="form-control" name="email" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck ">
            <label>
              <input type="checkbox" > Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
      {{> form_security}}  
    </form>

<!--
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <div class="row">
        <div class="col-xs-6">
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
        </div>
        <div class="col-xs-6">
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
        </div>
      </div>
    </div>
  -->
    <!-- /.social-auth-links -->
    <br>
    <div class="row">
      <div class="col-xs-8">
        <a href="forgot">Forgot Password</a>
      </div> 
      <div class="col-xs-4">
        <a href="signup" class="text-center">Signup</a>
      </div> 
    </div>
  <!-- /.login-box-body -->
</div>


