{{> header}}

<div class="login-box">
  <div class="login-box-body">
    <p class="login-box-msg">Insert number</p>
    {{> flash}}    
    <form method='get' action='/prime'>    
      <div class="form-group has-feedback">
        <input type="number" class="form-control" name="number" placeholder="Number (Integer)">
        <span class="glyphicon glyphicon-check form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Check Number</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


  <!-- /.login-box-body -->
</div>


