{{> header}}

<link rel="icon" type="image/x-icon" href="/images/favicon.png">
<div class="prime-box">
  <div class="prime-box-body">
    <p class="prime-box-msg">Insert number</p>
    <form method='post'>    
      <div class="form-group has-feedback">
        <input type="number" class="form-control" name="number" placeholder="Number">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Check Prime</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <br>
    <div class="result-box">
      <p class="result-title">Result:</p>
      <p>{ result }</p>
    </div>
  <!-- /.prime-box-body -->
</div>
<br


